@using Entity.Concrete
@model List<Service>
<section class="w3l-gallery" id="gallery">
    <div class="destionation-innf py-5">
        <div class="container py-lg-5 py-md-4 py-2 HomePageGallery">
            <div class="title-content text-center">
                <h6 class="title-subw3hny text-center">Gallery</h6>
                <h3 class="title-w3l mb-5 text-center">Latest Projects</h3>
            </div>
            <!--/grids-grids-->
            <ul class="gallery_agile">
                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="~/Factorship-Starter/assets/images/g1.jpg">
                            <img src="~/Factorship-Starter/assets/images/g1.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3>Factorship</h3>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="~/Factorship-Starter/assets/images/g2.jpg">
                            <img src="~/Factorship-Starter/assets/images/g2.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3>Factorship</h3>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="~/Factorship-Starter/assets/images/g3.jpg">
                            <img src="~/Factorship-Starter/assets/images/g3.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3>Factorship</h3>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </li>
                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="~/Factorship-Starter/assets/images/g4.jpg">
                            <img src="~/Factorship-Starter/assets/images/g4.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3>Factorship</h3>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="~/Factorship-Starter/assets/images/g5.jpg">
                            <img src="~/Factorship-Starter/assets/images/g5.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3>Factorship</h3>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="~/Factorship-Starter/assets/images/g6.jpg">
                            <img src="~/Factorship-Starter/assets/images/g6.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3>Factorship</h3>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </li>
                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="~/Factorship-Starter/assets/images/g7.jpg">
                            <img src="~/Factorship-Starter/assets/images/g7.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3>Factorship</h3>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="~/Factorship-Starter/assets/images/g8.jpg">
                            <img src="~/Factorship-Starter/assets/images/g8.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3>Factorship</h3>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="~/Factorship-Starter/assets/images/g9.jpg">
                            <img src="~/Factorship-Starter/assets/images/g9.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3>Factorship</h3>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </li>
            </ul>
            <!--//rids-grids-->
        </div>
    </div>
</section>