@using Entity.Concrete
@model List<OurInfo>
<section class="w3l-grids-3 py-5" id="about">
    <div class="container py-md-5 py-3">
        <div class="bottom-ab-grids align-items-center">
            <div class="w3ab-left-top">
                @foreach(var item in Model)
                {
                    
                    <h3 class="title-w3l mb-2">@item.HeadText</h3>
                    <p class="my-3 mb-5 px-lg-5">
                        @item.BottomText
                    </p>
                }
                

                <!-- /home-page-video-popup-->
                <div class="w3l-index5 mt-3" id="video">
                    <div class="position-relative">
                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            @foreach(var item in Model)
                            {
                                <iframe src="@item.ImageLink" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            }
                            
                        </div>
                    </div>
                    <!-- //home-page-video-popup-->
                </div>
            </div>
        </div>
    </div>
</section>