@using Entity.Concrete
@model List<About>
@{
    Layout = "~/Views/Shared/_layoutMain.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Factorship - Industrial Category Bootstrap Responsive Template | About :: W3layouts</title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Factorship-Starter/assets/css/style-starter.css">
</head>

<body>
    <!--/Header-->
    <!--//Header-->
    <!--/inner-page-->
    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5 ">
            <div class="container">
                <div class="w3breadcrumb-gids">
                    <div class="w3breadcrumb-left text-left">
                        <h2 class="inner-w3-title mt-sm-5 mt-4">
                            About Us
                        </h2>

                    </div>
                    <div class="w3breadcrumb-right">
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="index.html">Home</a></li>
                            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> About Us</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--//inner-page-->
    <!--/w3-grids-->
    <section class="w3l-passion-mid-sec py-5">
        <div class="container py-md-5 py-3">
            <div class="container">
                <div class="row w3l-passion-mid-grids">
                    @foreach(var item in Model)
                    {
                        
                    
                    <div class="col-lg-6 passion-grid-item-info pe-lg-5 mb-lg-0 mb-5">
                        <h6 class="title-subw3hny mb-1">About Our Company</h6>
                        <h3 class="title-w3l mb-4">@item.HeadText</h3>
                        <p class="mt-3 pe-lg-5">
                            @item.Description
                        </p>

                    </div>
                    }
                    <div class="col-lg-6 w3hny-passion-item">
                        <div class="row">
                            <div class="col-6 passion-grid-item-pic">
                                <img src="~/Factorship-Starter/assets/images/ab1.jpg" alt="" class="img-fluid radius-image">
                            </div>
                            <div class="col-6 passion-grid-item-pic">
                                <img src="~/Factorship-Starter/assets/images/ab2.jpg" alt="" class="img-fluid radius-image">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//w3-grids-->
    <!--/progress-->

    <!--//progress-->
    <!--/tabs-faqs-->

    <!--//tabs-faqs-->
    <!--/w3l-subscribe-content-->

    <!--//w3l-subscribe-content-->
    <!--/team-sec-->
    <!--//team-sec-->
    <!--/footer-9-->
    <footer class="w3l-footer9">
        <section class="footer-inner-main py-5">
            <div class="container py-md-3">
                <div class="right-side">
                    <div class="row footer-hny-grids sub-columns">
                        <div class="col-lg-3 sub-one-left">
                            <h6>About </h6>
                            <p class="footer-phny pe-lg-5">Since 1960,. has built a reputation for producing high quality precision fabricated products for use in a variety of industries.</p>
                            <div class="columns-2 mt-lg-5 mt-4">
                                <ul class="social">
                                    <li>
                                        <a href="#facebook"><span class="fab fa-facebook-f"></span></a>
                                    </li>
                                    <li>
                                        <a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>
                                    </li>
                                    <li>
                                        <a href="#twitter"><span class="fab fa-twitter"></span></a>
                                    </li>
                                    <li>
                                        <a href="#google"><span class="fab fa-google-plus-g"></span></a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 sub-two-right">
                            <h6>Our Links</h6>
                            <ul>

                                <li>
                                    <a href="#why"><i class="fas fa-angle-right"></i> Why us</a>
                                </li>
                                <li>
                                    <a href="#licence">
                                        <i class="fas fa-angle-right"></i> Licensing
                                    </a>
                                </li>
                                <li>
                                    <a href="#log">
                                        <i class="fas fa-angle-right"></i> Offers
                                    </a>
                                </li>
                                <li>
                                    <a href="#log">
                                        <i class="fas fa-angle-right"></i> Changelog
                                    </a>
                                </li>
                                <li><a href="#career"><i class="fas fa-angle-right"></i> Careers</a></li>

                            </ul>
                        </div>
                        <div class="col-lg-3 sub-one-left">
                            <h6>Recent Posts </h6>
                            <div class="row fposts-grid-inner mb-4">
                                <div class="col-4 fposts-grid-left ps-0">
                                    <a href="blog-single.html">
                                        <img src="~/Factorship-Starter/assets/images/g2.jpg" alt=" " class="img-fluid radius-image">
                                    </a>
                                </div>
                                <div class="col-8 fposts-grid-right">
                                    <h4>
                                        <a href="#home" class="text-bl text-left">Lorem ipsum viverra feugiat libero.</a>
                                    </h4>
                                    <p class="time"> 11 Minutes ago</p>
                                </div>
                            </div>
                            <div class="row fposts-grid-inner mb-4">
                                <div class="col-4 fposts-grid-left ps-0">
                                    <a href="blog-single.html">
                                        <img src="~/Factorship-Starter/assets/images/g3.jpg" alt=" " class="img-fluid radius-image">
                                    </a>
                                </div>
                                <div class="col-8 fposts-grid-right">
                                    <h4>
                                        <a href="#home" class="text-bl text-left">Lorem ipsum viverra feugiat libero.</a>
                                    </h4>
                                    <p class="time"> 11 Minutes ago</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="below-section mt-5">
                    <div class="copyright-footer">
                        <div class="columns text-left">
                            <p>
                                © 2021 Factorship. All rights reserved.All rights reserved. Design by <a href="https://w3layouts.com/" target="_blank">
                                    W3Layouts
                                </a>
                            </p>
                        </div>
                        <ul class="footer-w3list text-right">
                            <li>
                                <a href="#url">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#url">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>

        <!-- Js scripts -->
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fas fa-level-up-alt" aria-hidden="true"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }

        </script>
        <!-- //move top -->
    </footer>
    <!--//footer-9 -->
    <!-- Template JavaScript -->
    <script src="~/Factorship-Starter/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Factorship-Starter/assets/js/theme-change.js"></script>
    <!-- stats number counter-->
    <script src="~/Factorship-Starter/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/Factorship-Starter/assets/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();

    </script>
    <!--/search-->
    <script src="~/Factorship-Starter/assets/js/modernizr.custom.js"></script>
    <script src="~/Factorship-Starter/assets/js/classie.js"></script>
    <script src="~/Factorship-Starter/assets/js/demo1.js"></script>
    <!--//search-->
    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });

    </script>
    <!-- //MENU-JS -->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });

    </script>
    <!-- //disable body scroll which navbar is in active -->
    <!-- //bootstrap -->
    <script src="~/Factorship-Starter/assets/js/bootstrap.min.js"></script>

</body>

</html>
