
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/_adminLayout.cshtml";
}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/adminimages/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/admin/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hizmet Güncelle</h4>
                <div class="basic-form">
                    <form method="post">
                        <div class="form-group">
                            <label>Hizmet İsmi</label>
                            <input name="Name" type="text" class="form-control input-default" placeholder="Örnek İsim">
                            <br />
                            <label>Açıklama Yazısı</label>
                            <input name="Description" type="text" class="form-control input-default" placeholder="Örnek Açıklama">
                            <br />
                            <button class="btn btn-primary">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
